{% extends "base.html" %}
{% block subtitle %}
    <strong>Animation Image</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/gan/anime" method="POST" enctype="multipart/form-data">
                <table class="table table-borderless">
                    <tr>
                        <td><label for="k_number">버전</label></td>
                        <td> 
                            <div class="form-check-inline mr-3">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="version" value="1">1
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="version" value="2" checked>2
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="k_number">버전</label></td>
                        <td>
                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input" id="face" name="face">
                                <label class="custom-file-label" for="face">얼굴 사진 파일 선택</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="btn btn-primary mr-2">실행</button>
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>		
            </form>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
{% block additional_body %}
    <script>
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}