{% extends "base.html" %}
{% block subtitle %}
    <strong>음성 녹음</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form action="/module/sub1" method="post">
                <table class="table table-borderless">
                    <tr><td style="text-align: center;">
                        <button type="button" class="btn btn-danger">음성 녹음 시작/종료</button>
                    </td></tr>
                    <tr><td style="text-align: center;">
                        <input class="btn btn-primary" type="submit" value="확인">
                    </td></tr>
                </table>
            </form>
        </div>
        <div class="col-3"></div>
        <br>
    </div>
{% endblock %}
{% block additional_body %}
    <script>
    const $audioEl = document.querySelector("audio");   // audio 엘리먼트 취득
    const $btn = document.querySelector("button");      // button 엘리먼트 취득
    let isRecording = false;    // 녹음중 상태 변수
    let mediaRecorder = null;   // MediaRecorder 변수 생성
    const audioArray = [];      // 녹음 데이터 저장 배열

    $btn.onclick = async function (event) {
        if (!isRecording) {
            // 마이크 mediaStream 생성: Promise를 반환하므로 async/await 사용
            const mediaStream = await navigator.mediaDevices.getUserMedia({audio: true});
            
            mediaRecorder = new MediaRecorder(mediaStream);     // MediaRecorder 생성

            // 이벤트핸들러: 녹음 데이터 취득 처리
            mediaRecorder.ondataavailable = (event) => {
                audioArray.push(event.data);    // 오디오 데이터가 취득될 때마다 배열에 담아둔다.
            }

            // 이벤트핸들러: 녹음 종료 처리 & 재생하기
            mediaRecorder.onstop = (event) => {
                // 녹음이 종료되면, 배열에 담긴 오디오 데이터(Blob)들을 합친다: 코덱도 설정해준다.
                const blob = new Blob(audioArray, {"type": "audio/wav codecs=opus"});
                //var file = new File([blob], 'test.wav')
                audioArray.splice(0); // 기존 오디오 데이터들은 모두 비워 초기화한다.
                
                // Blob 데이터에 접근할 수 있는 주소를 생성한다.
                const blobURL = URL.createObjectURL(blob);
                var data = new FormData()
                data.append('test.wav', blobURL, 'test.wav')

                // audio엘리먼트로 재생한다.
                //$audioEl.src = blobURL;
                //$audioEl.play();
            }
            // 녹음 시작
            mediaRecorder.start();
            isRecording = true;
        } else {
            // 녹음 종료
            mediaRecorder.stop();
            isRecording = false;
        }
    }
    </script>    
{% endblock %}