{% extends "base.html" %}
{% block subtitle %}
    <strong>CKEditor 사용 예</strong><small> - 읽기</small>
{% endblock %}
{% block content %}
    <div class="row">
        <table class="table">
            <tr>
                <td>제목</td>
                <td>{{title|safe()}}</td>
            </tr>
            <tr>
                <td>내용</td>
                <td>{{content|safe()}}</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button class="btn btn-primary" 
                            onclick="location.href='/module/update'">수정</button>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}