{% extends "base.html" %}
{% block additional_head %}
    <style>
        td { text-align: center; }
    </style>
{% endblock %}
{% block subtitle %}
    <strong>동영상 녹화</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form action="/module/video" method="post">
            <table class="table table-borderless">
                <tr>
                    <td>사용법</td>
                    <td>
                        녹음은 안되고, web-cam을 쓰는 다른 프로그램은 종료하세요.
                    </td>
                </tr>
                <tr><td colspan="2"></td></tr>
                <tr>
                    <td colspan="2">
                        <div class="button_box">
                            <button type="button" class="btn btn-danger mr-2" id="record">녹화</button>
                            <span id="cam" class=""></span>
                            <button type="button" class="btn btn-dark disabled" id="stop">정지</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" id="td1">
                        <video autoplay id="webcam" src="" style="background-color: black;"></video>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" id="td2"></td>
                </tr>
            </table>
            </form>
        </div>
        <div class="col-1"></div>
        <br>
    </div>
{% endblock %}
{% block additional_body %}
    <script src="{{url_for('static', filename='js/video.js', q=12)}}"></script> 
{% endblock %}