<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Project{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{{url_for('static', filename='data/favicon.ico')}}">
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    {% block additional_head %}{% endblock %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script type="text/javascript">
                alert("{{messages[0]}}");
            </script>
        {% endif %}
    {% endwith %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <!-- Brand/logo -->
        <a class="navbar-brand" style="margin-left:50px;margin-right:100px;" href="#">
            <img src="{{url_for('static', filename='data/logo.png')}}" alt="Logo" style="height:45px;">
        </a>

        <!-- Links -->
        <ul class="nav nav-pills mr-auto">
            <li class="nav-item mr-5">
                <a class="nav-link {% if menu.ho %}active{% endif %}" 
                   href="{% if menu.ho %}#{% else %}/{% endif %}">
                    <i class="fa fa-home"></i> Home
                </a>
            </li>
            <li class="nav-item dropdown mr-5">
                <a class="nav-link dropdown-toggle {% if menu.pb %}active{% endif %}" href="#" data-toggle="dropdown">
                    <i class="far fa-list-alt"></i> 게시판
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/pbbs/list/1">프로젝트 게시판</a>
                    <a class="dropdown-item" href="#">자유 게시판</a>
                    <a class="dropdown-item" href="/pbbs/update_file">파일 수정</a>
                </div>
            </li>
            <li class="nav-item mr-5">
                <a class="nav-link {% if menu.ma %}active{% endif %}" 
                   href="{% if menu.ma %}#{% else %}/mail{% endif %}">
                    <i class="fa fa-envelope"></i> To:admin
                </a>
            </li>
        </ul>
        <nav class="navbar navbar-center">
            <span class="navbar-text">
                <strong>{% block heading %}리뷰 분석을 통한 호텔 카테고리 재분류{% endblock %}</strong>
            </span>
        </nav>
    </nav>

    <div class="container" style="margin-top:88px;">
        <div class="row mb-5">
            <div class="col-2">
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a class="nav-link {% if menu.m1 %}active{% endif %}" 
                           href="{% if menu.m1 %}#{% else %}/menu1{% endif %}">메뉴 1</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item">
                        <a class="nav-link {% if menu.m2 %}active{% endif %}" 
                           href="{% if menu.m2 %}#{% else %}/menu2{% endif %}">메뉴 2</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if menu.m3 %}active{% endif %}" 
                           data-toggle="dropdown" href="#">메뉴 그룹</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/module/recog">음성 인식</a>
                            <a class="dropdown-item" href="/module/video">동영상 녹화</a>
                            <a class="dropdown-item" href="/module/sub2">리디렉션</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/module/write">글 쓰기</a>
                            <a class="dropdown-item" href="/module/read">글 읽기</a>
                            <a class="dropdown-item" href="/module/update">글 수정하기</a>
                        </div>
                    </li>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item">
                        <a class="nav-link {% if menu.cf %}active{% endif %}" 
                           href="{% if menu.cf %}#{% else %}/classify{% endif %}">타이타닉 분류</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item">
                        <a class="nav-link {% if menu.cu %}active{% endif %}" 
                           href="{% if menu.cu %}#{% else %}/cluster{% endif %}">군집화/PCA</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if menu.mp %}active{% endif %}" 
                           data-toggle="dropdown" href="#">미디어 파이프</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/mediapipe/hand">손 탐지</a>
                            <!-- <a class="dropdown-item" href="/mediapipe/face_detection">안면 탐지</a> -->
                            <a class="dropdown-item" href="/mediapipe/face_mesh">안면 메시</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/mediapipe/pose">포즈</a>
                            <a class="dropdown-item" href="/mediapipe/holistic">전체</a>
                            <a class="dropdown-item" href="/mediapipe/selfie">셀카 분할</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/mediapipe/stream">얼굴 인식</a>
                        </div>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item">
                        <a class="nav-link {% if menu.gn %}active{% endif %}" 
                           href="{% if menu.gn %}#{% else %}/gan/anime{% endif %}">AnimeGAN</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item">
                        <a class="nav-link {% if menu.or %}active{% endif %}" 
                           href="{% if menu.or %}#{% else %}/order{% endif %}">조 추첨</a>
                    </li>
                    <div class="dropdown-divider"></div>
                </ul>
            </div>
            <div class="col-10">
                <h3>{% block subtitle %}{% endblock %}</h3>
                <hr>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>  
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center fixed-bottom">
        <span class="navbar-text">
            Copyright &copy; 2022 프로젝트6조(마리아, 제임스). All rights reserved.
        </span>
    </nav>
    {% block additional_body %}
    {% endblock %}
</body>
</html>
