{% extends "base.html" %}
{% block additional_head %}
    <style>
        th, td { text-align: center; vertical-align: middle; }
    </style>
{% endblock %}
{% block subtitle %}
    <strong>조 추첨</strong> - 결과
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table">
                <tr class="d-flex">
                    <th class="col-6">발표 순서</td>
                    <th class="col-6"><strong>조</strong></td>
                </tr>
                {% for order in finals %}
                <tr class="d-flex">
                    <td class="col-6">{{loop.index}}</td>
                    <td class="col-6">
                        <img src="{{url_for('static', filename='digits/metro'+order|string()+'.svg')}}" width="28" alt="{{order}} 조">
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button class="btn btn-primary" 
                                onclick="location.href='/order'">재실행</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}