{% extends "base.html" %}
{% block subtitle %}
    <strong>수정하기</strong>
    <span style="font-size: 0.6em;">
        <a href="/pbbs/list/1" class="ml-5""><i class="fas fa-list-ul"></i> 목록</a>
    </span>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <form action="/pbbs/update_file" method="post" enctype="multipart/form-data">
                <table class="table table-borderless table-sm">
                    <tr class="d-flex">
                        <td class="col-2" style="text-align: center;">첨부파일</td>
                        <td class="col-10">
                            <div class="uploaded-group">
                                {% for file in files %}
                                    <div class="uploaded">
                                        <span class="sp">{{file}}</span>
                                        <a href="javascript:return false;" onclick="del_file(this)" fname="{{file}}"><span class="badge badge-secondary mb-2">삭제</span></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-2" style="text-align: center;">파일 첨부</td>
                        <td class="col-10">
                            <div class="control-group" id="fields">
                                <div class="controls">
                                    <div class="entry input-group upload-input-group">
                                        <input class="form-control mb-2" type="file" name="fields[]" multiple="multiple">
                                        <button class="btn btn-upload btn-success btn-add mb-2" type="button">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button class="btn btn-primary" id="send" onclick="send()">제출</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
{% block additional_body %}
    <script>
        function del_file(obj) {
            $(obj).parent().remove();
        }
        $(function () {
            $(document).on('click', '#send', function(e) {
                let flist = [];
                e.preventDefault();
                $('.sp').each(function(i) {
                    fname = $(this).text();
                    flist.push(fname);
                });
                console.log(JSON.stringify(flist));
            }).on('click', '.btn-add', function(e) {
                e.preventDefault();
    
                var controlForm = $('.controls:first'),
                    currentEntry = $(this).parents('.entry:first'),
                    newEntry = $(currentEntry.clone()).appendTo(controlForm);
    
                newEntry.find('input').val('');
                controlForm.find('.entry:not(:last) .btn-add')
                    .removeClass('btn-add').addClass('btn-remove')
                    .removeClass('btn-success').addClass('btn-danger')
                    .html('<span class="fa fa-trash"></span>');
            }).on('click', '.btn-remove', function(e) {
                $(this).parents('.entry:first').remove();
                e.preventDefault();
                return false;
            });
        });
    </script>  
{% endblock %}